@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
}
body{
    /* overflow: hidden; */
}
:root{
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
li{
    padding: 8px 12px;
    background-color:none;
}
ul li:hover{
    background-color: rgba(0,0,0,.05);
    cursor: pointer;
    color: black;
    transition: var(--tran-03);
}
